.top-margin {
    margin-top: 90px;
}

.loginRegister-div {
    max-width: 600px;
    background: #fff;
    color: #666;
    padding: 25px 30px;
    border-radius: 20px;
    position: absolute;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginRegister-header {
    text-align: center;
    margin-bottom: 30px;
}
